<div class="animate__animated animate__fadeIn animate__faster">

  <h3>Buscar por regiones <small>{{regionActiva | titlecase}}</small> </h3>

  <hr />

  <h5>Seleccione la región</h5>

  <div class="row">
    <div class="col">
      <button *ngFor="let region of regiones"
              (click)="activarRegion(region)"
              [class]="getClassCSS(region)">
              {{ region }}
      </button>
    </div>
  </div>

</div>


<hr />

<div class="row" *ngIf="paises.length">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
