<h2>Validaciones reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="submitForm()">
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Nombre </label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre y apellido del usuario"
            formControlName="nombreApellido"
          />
          <span class="form-text text-danger" *ngIf="controlValid('nombreApellido')">
            Debe tener formato nombre y apellido
          </span>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Email </label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="email del usuario"
            formControlName="email"
          />
          <span class="form-text text-danger" *ngIf="controlValid('email')">
            {{ emailErrorMsg }}
          </span>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Username </label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del usuario"
            formControlName="username"
          />
          <span class="form-text text-danger" *ngIf="controlValid('username')">
            El username no puede ser Strider
          </span>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Password </label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Password del usuario"
            formControlName="password"
          />
          <span class="form-text text-danger" *ngIf="controlValid('password')">
            El password debe ser mayor a seis caracteres
          </span>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Confirmar Password </label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Confirmar password"
            formControlName="confirmPassword"
          />
          <span class="form-text text-danger" *ngIf="controlValid('confirmPassword')">
            La contraseña debe ser igual
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit" [disabled]="registerForm.pending">
            Crear Usuario
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<h2>Form Valid: {{ registerForm.valid }}</h2>
<h2>Form Valid: {{ registerForm.status }}</h2>
<h2>Form Valid: {{ registerForm.pending }}</h2>

<h2>Form Errors: {{ registerForm.errors | json }}</h2>

<h5>Nombre y Apellido</h5>
<pre>
  {{ registerForm.controls.nombreApellido.errors | json }}
</pre>
<h5>Email</h5>
<pre>
  {{ registerForm.controls.email.errors | json }}
</pre>
<h5>Usuario</h5>
<pre>
  {{ registerForm.controls.username.errors | json }}
</pre>
<h5>Password</h5>
<pre>
  {{ registerForm.controls.password.errors | json }}
</pre>
<h5>Confirm Password</h5>
<pre>
  {{ registerForm.controls.confirmPassword.errors | json }}
</pre>
